.topbar {
    display: flex; /* Ativa Flexbox */
    justify-content: space-between; /* Separa logo e menu */
    align-items: center; /* Alinha verticalmente */
    padding: 12px 16px;
    background: #0079f9;
    color: #fff;
}

.menu {
    display: flex;
    gap: 16px;
} /* Espaça as linkes */

.menu a {
    color: #fff;
    text-decoration: none;
}

.texto {
    text-align: center;
    margin: 0 auto;
    background: #c6e3ff;
}

.texto h1 {
    font-size: 40px;
    margin: auto 0;
    padding: 40px 10px 10px;
    margin-bottom: 10px;
    color: #0378fe;
}

.texto p {
    color: #070707;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
    background: #f7fafc;
    margin: 0;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 12px 24px;
    background: #007bfe;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}

.cards {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px 100px;
}

.card {
    /* cresce, encolhe, base 240px */
    flex: 1 1 240px;
    background: #fff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 20px 10px 130px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.btn:hover {
    background: #1a4f8a;
} 

main {
    text-align: center;
    background: #e3e3e3;
    padding: 10px;
    color: #afa6a6;
}